@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans:wght@400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Vollkorn:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

:root {
  --dark-blue: #244e74;
  --light-blue: #a3cef2;
  --grey: #2b2b2b;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Style the navigation */
li,
a,
button {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: var(--dark-blue);
}

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  background-color: white;
}

/* Style the logo */
header img {
  width: 120px;
  cursor: pointer;
  align-self: flex-start;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
}

header ul li a {
  font-size: 18px;
  padding: 20px;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

header ul li a:hover {
  color: white;
  background-color: var(--dark-blue);
  border-radius: 30px;
}

/* Menu button is not shown in desktop view */
header input {
  display: none;
  cursor: pointer;
}

header label {
  font-size: 20px;
  color: var(--dark-blue);
  cursor: pointer;
  display: none;
}

/* Universal styling */
h1 {
  font-size: 70px;
  font-weight: 400;
  font-family: "Vollkorn", sans-serif;
  padding-bottom: 15px;
}

h2 {
  padding-bottom: 15px;
}
p {
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}
button {
  border: none;
  color: var(--dark-blue);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  border-radius: 30px;
  margin-top: 30px;
  margin-top: 40px;
}

button:hover {
  background-color: var(--dark-blue);
  color: white;
}
section {
  min-height: 100vh;
  max-width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-repeat: no-repeat;
  background-position: bottom right;
  justify-content: flex-start;
  text-align: left;
}

#home {
  background-image: linear-gradient(
      90deg,
      rgba(39, 76, 120, 0.9),
      60%,
      rgba(39, 76, 120, 0.2)
    ),
    url("images/headerimg.jpg");
  color: white;
}

#about {
  background-image: linear-gradient(
      rgba(39, 76, 120, 0.9),
      rgba(39, 76, 120, 0.9)
    ),
    url("images/pexels-ylanite-koppens-2008143.jpg");
  background-position: center;
  align-items: center;
  text-align: center;
  color: white;
}

#about h1 {
  color: white;
}

img {
  width: 100px;
}

/* Change the flex direction and wrap content for the colour background articles  */
#services,
#testimonials {
  flex-wrap: wrap;
  flex-direction: row;
  padding: 100px;
  gap: 40px;
  background-size: auto;
  justify-content: space-evenly;
  align-items: center;
}

/* Style the home section background and align items to the left side of the screen */

#home p,
#about p {
  width: 40%;
}

#contact {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
      rgba(39, 76, 120, 0.9),
      rgba(39, 76, 120, 0.9)
    ),
    url("images/aboutbg.jpg");
}
#reach-us {
  background-color: var(--light-blue);
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 60px;
  flex-basis: 60%;
}

input,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  padding: 12px 20px;
  background-color: var(--dark-blue);
  color: white;
  border-radius: 30px;
  width: 150px;
}

article {
  width: 25%;
  background-color: white;
  box-shadow: 0 5px 10px rgba(39, 76, 120, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  padding: 30px;
  color: var(--dark-blue);
}

/* Change the height of the testimonials gallery items */
#testimonials article {
  height: 250px;
}

/* Names in the testimonials are smaller and placed to the right of the testimonial container */

.testname {
  font-size: 16px;
  align-self: flex-end;
}

footer {
  display: inline-block;
  max-width: 100vw;
  padding: 30px;
}

@media (max-width: 850px) {
  header {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    z-index: 1000;
  }

  ul li {
    width: 100%;
  }

  header input:checked ~ nav {
    display: none;
  }

  header label {
    align-self: flex-end;
    display: initial;
  }

  header img {
    width: 150px;
  }

  h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
  }

  section {
    padding: 0;
  }

  #home {
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 0;
    min-width: 80%;
    align-self: center;
  }
  #about {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    justify-content: center;
  }

  #services,
  #testimonials {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
    gap: 10px;
    width: 100%;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
  }

  article {
    width: 90%;
  }

  #contact {
    flex-direction: column-reverse;
    text-align: left;
  }

  #reach-us {
    background-color: var(--light-blue);
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
  }
  form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  input,
  textarea {
    width: 80%;
  }
}
